*{
    margin:0%;
    padding:0;
    list-style:none;
    font-family:sans-serif;
}
body{
    width:1000px;
    height:750px;
    margin:auto;
    text-align: center;
    background: -webkit-linear-gradient(top, #FFFFFF, #006699);
    background: -moz-linear-gradient(top 50deg, #FFFFFF 50%, #006699 30%);



    border: 5px solid#7F7E81;
}

#chat{
    position:fixed;
    width:150px;
    height:40px;
    bottom:20px;
    right:20px;
    z-index:1;
    color: #A5EBCD;
    text-align:center;
    line-height:40px;
    font-family: 'Kaushan Script', cursive;
    font-size:30px;
    border-radius:20px 20px 0 0;
    cursor:pointer;
    background: -webkit-linear-gradient(top, #009933 20%, #63380E 10%);
    background: -moz-linear-gradient(top 50deg,  #63380E 50%,  #CAC157 30%);
}


header{
    position:relative;
    margin: auto;
    width:1000px;
    height:190px;
    background:rgba(0,0,0,0.5) 3px 3px 5px;
    border:1 px #624C07;
    border-radius:10px;
    border: 2px solid#7F7E81;
    background:  #FFFFFF ;




}

#logo{
    position:absolute;
    top:2px;
    left:15px;
    width:180px;
    height:180px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
    text-align:center;
    border-radius:100%;
    background:url(../IMAGENES/LOGO.png) no-repeat center ;

    /*-moz-box-shadow: rgb(150,150,150) 5px 5px;
-webkit-box-shadow: rgb(150,150,150) 5px 5px;
 box-shadow:  rgb(150,150,150) 5px 5px  ;*/

}
#apDiv1 {
    position: absolute;
    width: 600px;
    height: 150px;
    z-index: 1;
    left: 217px;
    top: 55px;
}
#apDiv2 {
    position:absolute;
    width:142px;
    height:33px;
    z-index:2;
    left: 820px;
    top: 12px;

}
.redes{
    margin-top: 30PX;
    position:absolute;
    width:42px;
    height:42px;
    background:#ccc;
    border-radius:100%;
    text-align:center;
    line-height:42px;
    color:white;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow:  rgb(150,150,150) 5px 5px  ;
}


#icono1{
    top:62px;
    right:120px;
    background:url(../IMAGENES/f1.png);

}

#icono2{
    top:62px;
    right:71px;
    background:url(../IMAGENES/tw.png);
}

#icono3{
    top:62px;
    right:19px;
    background:url(../IMAGENES/i.png);
}
#icono3:OVER{
}

.botones{

    float:left;
    width:196px;
    margin:0px 2px;
    height:48px;
    background: url(../IMAGENES/boton%20Ap.png) no-repeat;
    font-family: 'Kaushan Script', cursive;
    color:white;
    text-align:center;
    line-height:48px;
    border-radius:20px;
    font-style:inherit;	
}

.botones:hover{
    background: url(../IMAGENES/boton%20Ac.png) no-repeat;
    -webkit-transform: skew(20deg);


}

.botones:active{
    background:rgba(255,0,100,1);
    -webkit-transform: scale(1,-1);
}

.botones1{

    float:left;
    width:60px;
    margin:0px 2px;
    height:60px;
    background: url(../IMAGENES/disp0.png) no-repeat;
    font-family: 'Kaushan Script', cursive;
    color:white;
    text-align:center;
    line-height:48px;

    font-style:inherit;	

}

.botones1:hover{
    background: url(../IMAGENES/disp1.png) no-repeat;

}


form{
    width: auto;
    border: 1px solid #ACACBF;
    max-width: 10000px;
    display:block;
    background: #0F1D54;
}
label{
    font-size: 14px;
    display:block;
    width:100%;
    text-align: left;
    margin-left: 2%;
    color:#FFFFFF;
}
textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 50px;
}
input,textarea{

    margin-bottom: 20px;
    width: 70%;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    border:1px solid #2C0CCC;
    max-width: 300px;
    border-radius: 5px;



}

input[type="submit"]{
    width: 100px;
    margin-bottom: 50px;
    background: #ACACBF;
    color: white;
    border: none;
    max-width: 100%;
    border-radius: 180px;
    margin: auto;
}
input[type="submit"]:hover{
    background: #2C0CCC;
    cursor: pointer;
    margin: auto;
}

select{
    margin-bottom: 20px;
    width: 70%;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #2C0CCC;
    display:block;
    max-width: 300px;
    border-radius: 5px;
}
h2{
    margin-top: 10px;
    padding: 7px;
    color: #FFFFFF;
}


li{

    background: #572424;
}
.f1{
    top:50px;
    font-size:20px;
    text-align: center;
    margin: auto;
}
#f1{
    text-align: center;
}


#top{

}

#top ul{
    width:1010px;
    height:192px;
}

#top ul li{
    float:left;
    width:326px;
    height:230px;
    margin-right:10px;
    text-align:center;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow:  rgb(150,150,150) 2px 0px  ;
}

#top ul li img{

    height:100px;
    width:100px;
    border-radius:100%;
}

#top ul li h1{
    font-family: 'Kaushan Script', c;
}


#top ul li p{
    font-size:14px;
    margin:10px;
}


section{
    top:1px auto;
    position:relative;
    width:1000px;
    height:370px;
}

footer{
    position: absolute;
    width:1000px;
    height:260px;
    background:rgba(100,0,255,1);
    text-align:center;
    line-height:70px;
    color: #C90;
    background: -webkit-radial-gradient(top,   #FFFFFF, #006699);
    background: -moz-linear-gradient(top 50deg,  #5F79D3 50%, #A5EBCD 30%);
    font-size:18px;
}



ul,ol{
    list-style: none;
}

body{
    font-family: Open sans;
}

.slideshow{
    width: 100%;
    position: relative

}
section{
    width:100%;
}
.slider li, ul{
    width: 100%;
}

.slider li{
    overflow: hidden;
}

.slider li img{
    width: 100%;
}

.slider .caption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;
    z-index: 1;
}

.slider .caption h1{
    font-size: 50px;
}

.slider .caption p{
    margin-top: 10px;
    font-size: 20px;
}

.pagination{
    position: absolute;
    top: 102%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.pagination li{
    font-size: 20px;
    margin: 2px 5px;
    color: #858585;
    cursor: pointer;
}

.left, .right{
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    align-items: center;

    color: #fff;
    font-size: 35px;
    cursor: pointer;
    z-index: 2;
}

.left{
    left: 10px;
}

.right{
    right: 10px;
}


@media screen and (max-width: 600px){
    .slider .caption p{
        display: none;
    }

    .slider .caption h1{
        font-size: 35px;
    }

    .left, .right{
        font-size: 30px;
    }

    .slider li img{
        width: 600px;
    }

    .pagination{
        display: none;
    }
}

